[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ws_confidential_primary_market_auction = "C2vZo71gwGS4NGB1Kh7GnxuWUuYbJi47V4yARYuHm31U"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "/Users/air/.config/solana/local.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
